<?xml version='1.0' encoding='utf-8'?>
<plugin 
	id="spc.cdv.plgin.wf" 
	version="0.0.1" 
	xmlns="http://apache.org/cordova/ns/plugins/1.0" 
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>wifiAp</name>
	<js-module name="wifiAp" src="www/wifiAp.js">
		<clobbers target="wifiAp" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="wifiAp">
				<param name="android-package" value="spc.cdv.plgin.wf.wifiAp" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml"></config-file>
		<source-file src="src/android/wifiAp.java" target-dir="src/spc/cdv/plgin/wf/wifiAp" />
	</platform>
</plugin>